@model IEnumerable<string>
@{
    ViewData["Title"] = "Image Show";
}
<h2>Resimler</h2>
<p>
    <a asp-controller="Home" asp-action="Index">Ana sayfaya dön</a>
</p>
@if(!Model.Any())
{
    <div>@ViewBag.Message</div>
}
else
{
    @foreach(var item in Model)
    {
        <div>
            <img src="~/images/@item" alt="Resim" style="width: 100px; height: 100px; border: 1px solid red" />
            <p>@item</p>
        </div>
    }
}

<form method="post" asp-action="ImageShow">
    <input type="text" name="name"/>
    <input type="submit" value="sil"/>
</form>


