@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <div class="alert alert-warning">
        <strong>Warning!</strong> This is a development environment.
    </div>
</environment>
<environment names="Production">
    <div class="alert alert-info">
        <strong>Info!</strong> This is a production environment.
    </div>
</environment>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>